*{
    padding: 0px;
    margin: 0px;
}
body {
    width:100%;
    height: 720px;
    background-image: url("img/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    overflow: hidden;
}
.wrapper{
    width: 100%;
    height: auto;
}
.heading{
    width: 100%;
    height: 60px;
    background-color:rgba(17, 25, 40, 0.75);
    border-bottom: 1px solid rgba(133, 133, 133, 0.45);
    margin-bottom: 50px;
    backdrop-filter: blur(20px) saturate(180%);

}
.heading .head{ 
    width: 100%;
    height: 6n0px;
    display: flex;
}
.heading .head .img{
    width: 10%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}
.heading .head .img img{
    width: 100%;

}

.heading .head .text{
    width: 90%;
    height: 100%;
    
}
.wrapper .first{
    width: 100vw;
    min-height:100px;
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: rgba(17, 25, 40, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 25vw;
    min-height: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
}
* {
    padding: 0px;
    margin: 0px;
}

.card h2{
    text-align: center;
    color: #f4bc02;;
    margin: 20px;
    font-size: 1.5rem;

}
.card form{
    width: 20vw;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
}
.card form .form #enterAmt{
    width: 12vw;
    height: 30px;
    background-color: rgba(248, 248, 248, 0.75);
    border-radius: 5px;
    border: 0px;
}

.card form  #from{
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    float: left;
    color: aliceblue;
    text-align: left;
}
.card form  #to{
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: aliceblue;
    text-align: right;
  
}
.card form .fromtoopt{
    display: flex;

}
.card form .amt{
    display: flex;
    align-self: flex-start;

}
.card form .fromto{
    width: 100%;
}
.card form .form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card form .fromtoopt .from{
    width: 50%;
    float: left;
    display: flex;
}
.card form .fromtoopt .from #curfrom{
    width: 6vw;
    height: 40px;
    border: 0px;
}
.card form .fromtoopt .to #curto{
    width: 6vw;
    height: 40px;
    border: 0px;
}
.card form .fromtoopt .to{
    display: flex;
    justify-content: end;
    width: 50%;
    float: right;
    display: flex;
}
.card form .form #labelamt{
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: 500;

}
.margin-bottom{
    margin-bottom: 35px;
}
.card form .range{
    justify-content: center;
}
.card form .form button{
    width: 10vw;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    border: 0px;
    background-color: rgb(244, 188, 2);
    font-weight: 700;
}
.card form .form #curfrom{
    width: 70px;
    height: 25px;
    background-color: rgba(248, 248, 248, 0.75);
    font-size: 0.7rem;
    font-weight: 700;
}
.card form .form #curto{
    width: 70px;
    height: 25px;
    background-color: rgba(248, 248, 248, 0.75);
    font-size: 0.7rem;
    font-weight: 700;
}

.card form .fromtoopt .from .flag{
    display: flex;
    height: 40px;
    background-color: rgba(248, 248, 248, 0.75);
}
.card form .fromtoopt .to .flag{
    display: flex;
    height: 40px;
    background-color: rgba(248, 248, 248, 0.75);
}
.card form .fromtoopt .to .flag img{
    width: 2rem;
}
.card form .fromtoopt .from .flag img{
    width: 2rem;
}
form .range{
    font-size: 1.2rem;
    width: 20vw;
    height: 25px;
    border: 1px solid #efefef;
    padding: 8px 0px;
    text-align: center;
    color: #f4bc02;
    font-weight: 600;
    box-shadow: 0px 0px 9px #7d7d7d;
    margin: 0px auto 35px auto;

}