main{
    width: 1200px;
    min-height: 400px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    text-align: center;
}
.game{
    width: 500px;
    height: 500px;
    background-color: #002927;
    border: 2px solid dodgerblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.game .box {
    width: 100px;
    height: 100px;
    margin: 0px 20px;
   border-radius: 20px;
   color: #b06a01;
   background-color: white;
   font-size: 1.7rem;
}
.game .box:hover{
    background-color: rgb(211, 211, 211);
    color:black;
}
#btn {
    width: 140px;
    height: 50px;
    color: white;
    border-radius: 15px;
    background-color: #002927;
    margin-top: 30px;
    font-size: 1.2rem;
}

#new-btn{
    width: 140px;
    height: 50px;
    color: white;
    border-radius: 15px;
    background-color: #002927;
    margin-top: 30px;
    font-size: 1.2rem;
 
}
#msg{
    color: darkgreen;
    font-size: 2rem;
    text-align: center;
}
.msg-container{
    height: 182px;
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}